/* Style for the chat container */
body {
  background-color: rgb(194, 194, 178);
}

.chat-container {
  padding: 1% 0 0 0;
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  background-color: aliceblue;
  margin-top: 5%;
  width: 70vw;
  /* Adjust width as needed */
  height: 80vh;
  border: 1px solid #ccc;
  border-radius: 1rem;
  overflow: hidden;
}

/* Style for the chat messages */
.chat-messages {
  flex: 1;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 7px;
  overflow: auto;
}

/* Style for each chat message */
.message {
  display: flex;
  max-width: 65vw;
  max-height: 70vh;
  flex-direction: row;
}

.message .user {
  user-select: none;
  display: flex;
  justify-content: center;
  vertical-align: top;
  align-items: center;
  height: 35px;
  font-weight: bold;
  width: 35px;
  color: aliceblue;
  border-radius: 50%;
  background-color: #74600bc8;
}

.message .info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 1.1rem;
  border-radius: 1rem;
  margin-top: -15px;
  color: #d1d1d1;
  vertical-align: top;
  max-width: 50vw;
}

.message .info .name {
  margin-bottom: 2px;
  color: black;
  font-weight: bold;
}

.message .info .msg {

  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow-wrap: break-word;
  background-color: #d8d0d0;
  border-radius: 10px;
  padding: 0.5rem;
  max-width: 70vw;
  max-height: 70vh;
  color: black;
}

.message .thumb svg {
  margin-top: 20px;
  margin-left: -17px;
  font-size: 1.5rem;
  color: #74600bc8;
  cursor: pointer;
}

.message span{
  margin-top: 20px;
}

/* Style for the chat input */
.chat-input {
  height: 7%;
  padding: 10px;
  background-color: #f0f0f0;
  .epr-main{
    margin-left: 45%;
    top:12rem;
      position:absolute;
      bottom: 350px;
      box-shadow: 0 5px 10px #ebdbdb;
      border-color: #74600bc8;
    }
}

.chat-input svg {
  font-size: 1.8rem;
  margin-bottom: -0.5rem;
  color: #74600bc8;
  cursor: pointer;
  margin-right: 1%;
}

/* Style for the input text field */
.chat-input input[type="text"] {
  margin-top: 0.2rem;
  font-weight: bold;
  flex: 1;
  height: 65%;
  width: 62vw;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5rem;
  margin-right: 10px;
}